@model BBMS.donor_health_info

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>donor_health_info</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.blood_pressure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.blood_pressure)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.glucose_level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.glucose_level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.donor.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.donor.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hospital.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hospital.username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
