@model IEnumerable<BBMS.blood_camp>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Driver Name
        </th>
        <th>
            Hospital
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.driver_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hospital.username)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.blood_camp_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.blood_camp_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.blood_camp_id })
        </td>
    </tr>
}

</table>
