@using System.Data;
@model BBMS.Models.User
@{
    ViewBag.Title = Model.name;
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";

}

@section AddToHead{
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
}

<div class="container">
    <div class="row clearfix well">
        <div class="col-md-2 column">
            <img class="img-thumbnail" alt="140x140" src="https://via.placeholder.com/140" />
        </div>
        <div class="col-md-8 column">
            <blockquote>
                <p>
                    @Model.name
                </p>
                <small>@Model.username</small><br />
                <small>@Model.governorate</small><br />
                <small>@Model.city</small><br /><br />
                <strong>Points: @Model.points</strong><br />

            </blockquote>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="tabbable" id="tabs-444468">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#panel-200304" data-toggle="tab">My Donations</a>
                    </li>
                    <li>
                        <a href="#panel-567649" data-toggle="tab">My Health Info</a>
                    </li>
                    <li>
                        <a href="#panel-123456" data-toggle="tab">My Service activity</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="panel-200304">
                        <div class="row clearfix">
                            <div class="col-md-8 column">
                                <p>
                                    <strong>My Donations</strong><br />
                                </p>
                                <hr />
                                @if (ViewBag.userDonations != null)
                                {
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr class=" row">
                                                @foreach (DataColumn col in ViewBag.userDonations.Columns)
                                                {
                                                    <th>@col.ColumnName</th>
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (DataRow row in ViewBag.userDonations.Rows)
                                            {
                                                <tr class="row">
                                                    @foreach (DataColumn col in ViewBag.userDonations.Columns)
                                                    {
                                                        <td>@row[col.ColumnName]</td>
                                                    }
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="panel-567649">
                        <div class="row clearfix">
                            <div class="col-md-8 column">
                                <p>
                                    <strong>My Health Info</strong><br />
                                </p>
                                @if (ViewBag.userHealthInfo != null)
                                {
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr class=" row">
                                                @foreach (DataColumn col in ViewBag.userHealthInfo.Columns)
                                                {
                                                    <th>@col.ColumnName</th>
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (DataRow row in ViewBag.userHealthInfo.Rows)
                                            {
                                                <tr class=" row">
                                                    @foreach (DataColumn col in ViewBag.userHealthInfo.Columns)
                                                    {
                                                        <td>@row[col.ColumnName]</td>
                                                    }
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                            </div>

                        </div>
                    </div>

                    <div class="tab-pane" id="panel-123456">
                        <div class="row clearfix">
                            <div class="col-md-8 column">
                                <p>
                                    <strong>My Service Activity</strong><br />
                                </p>
                                @if (ViewBag.userServices != null)
                                {
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr class=" row">
                                                @foreach (DataColumn col in ViewBag.userServices.Columns)
                                                {
                                                    <th>@col.ColumnName</th>
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (DataRow row in ViewBag.userServices.Rows)
                                            {
                                                <tr class=" row">
                                                    @foreach (DataColumn col in ViewBag.userServices.Columns)
                                                    {
                                                        <td>@row[col.ColumnName]</td>
                                                    }
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>