<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BBMS</title>
    <link rel="shortcut icon" type="image/ico" href="@Url.Content("~/bloodBag.ico")">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @if (IsSectionDefined("AddToHead"))
    {
        @RenderSection("AddToHead", required: false)
    }
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("BBMS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @style = "color:darkred;" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Hospitals", "showHospitals", "Home")</li>
                    <li>@Html.ActionLink("BloodCamps&Shifts", "showBloodCamps", "Home")</li>
                    <li>@Html.ActionLink("Services", "ShowProvidedServices", "Home")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Sign In", "SignIn", "User")</li>
                    <li>@Html.ActionLink("Sign Up", "SignUp", "User")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Made by Coffee and Love</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @if (IsSectionDefined("AddToScripts"))
    {
        @RenderSection("AddToScripts", required: false)
    }
    
</body>
</html>
