@model BBMS.hospital

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>hospital</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.hospital_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hospital_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.governorate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.governorate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.login.user_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.login.user_type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.hospital_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
