
@{
    ViewBag.Title = "Hospital dashboard";
}
@{
    Layout = "";    /*Disable the layout page*/
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BBMS</title>
    <link rel="shortcut icon" type="image/ico" href="@Url.Content("~/bloodBag.ico")">

    <link href="@Url.Content("~/Content/dashboardAssets/css/bootstrap.css")" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="@Url.Content("~/Content/dashboardAssets/css/font-awesome.css")" rel="stylesheet" />
    <!-- MORRIS CHART STYLES-->
    <link href="@Url.Content("~/Content/dashboardAssets/js/morris/morris-0.4.3.min.css")" rel="stylesheet" />
    <!-- CUSTOM STYLES-->
    <link href="@Url.Content("~/Content/dashboardAssets/css/custom.css")" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='@Url.Content("http://fonts.googleapis.com/css?family=Open+Sans")' rel='stylesheet' type='text/css' />
</head>
<body>

    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Hospital</a>
            </div>
            @using (Html.BeginForm("SignOut", "Hospitals", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div style="color: white; padding: 15px 50px 5px 50px; float: right; font-size: 16px;">
                    <button class=" btn btn-sm btn-danger square-btn-adjust" type="submit" value="SignOut" name="id">Log Out</button>
                </div>
            }
        </nav>
        <!-- /. NAV TOP  -->
        <!--NAV SIDE -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li class="text-center">
                        <img src="@Url.Content("~/Content/dashboardAssets/img/find_user.png")" class="user-image img-responsive" />
                    </li>
                    <li>
                        <a class="active-menu" href="#"><i class="fa fa-dashboard fa-3x"></i>My Info</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Services", "hospitals")"><i class="fa fa-sitemap fa-3x"></i>Services</a>
                    </li>
                    <li>
                        <a href="@Url.Action("BloodCamps", "hospitals")"><i class="fa fa-sitemap fa-3x"></i>Blood Camps</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-sitemap fa-3x"></i>Shifts<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="@Url.Action("AddShift", "hospitals")">Add Shift</a>
                            </li>
                            <li>
                                <a href="@Url.Action("RemoveShift", "hospitals")">Show/Remove Shifts</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-sitemap fa-3x"></i>Shift Managers<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="@Url.Action("AddShiftManager", "hospitals")">Add Shift manager</a>
                            </li>
                            <li>
                                <a href="@Url.Action("RemoveShiftManager", "hospitals" )">Show/Remove Shift managers</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-sitemap fa-3x"></i>Stock<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="@Url.Action("AddBloodBag", "hospitals")">Add Blood Bag</a>
                            </li>
                            <li>
                                <a href="@Url.Action("RemoveBloodBag", "hospitals")">Show/Remove Blood Bag</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- /. NAV SIDE  -->


        <div id="page-wrapper">
            <!-- /. PAGE INNER  -->

            <div class="col-md-8 column" id="page-inner">
                <blockquote>
                    <p>
                        <strong>@Model.hospital_name</strong>
                    </p>
                    <small>@Model.username</small><br />
                    <small>@Model.city, @Model.governorate</small><br />
                    <small>Phone: @Model.phone</small><br />

                </blockquote>
            </div>

        </div>
        <!-- /. PAGE WRAPPER  -->
        <hr />
        <div class="container-fluid" style="background-color:#202020;">
            <div class="text-center center-block bg-dark text-white">
                <p style="  color: white;">&copy; @DateTime.Now.Year - Made by Coffee and Love</p>
            </div>
        </div>
    </div>
    <!-- /. WRAPPER  -->
    




    <script src="@Url.Content("~/Content/dashboardAssets/js/jquery-1.10.2.js")"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="@Url.Content("~/Content/dashboardAssets/js/bootstrap.min.js")"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="@Url.Content("~/Content/dashboardAssets/js/jquery.metisMenu.js")"></script>
    <!-- MORRIS CHART SCRIPTS -->
    <script src="@Url.Content("~/Content/dashboardAssets/js/morris/raphael-2.1.0.min.js")"></script>
    <script src="@Url.Content("~/Content/dashboardAssets/js/morris/morris.js")"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="@Url.Content("~/Content/dashboardAssets/js/custom.js")"></script>
    <script src="@Url.Content("https://canvasjs.com/assets/script/canvasjs.min.js")"></script>


</body>
</html>
