@using System.Data;
@{
    ViewBag.Title = "removeHospital";
}

@{
    Layout = "~/Views/Shared/_NoNavLayout.cshtml";
}

<h2>removeHospital</h2>

@using (Html.BeginForm("RemoveHospital", "hospitals", FormMethod.Post))
{
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Choose a hospital to delete</h3>
                </div>
                <div class="panel-body">
                    <form accept-charset="UTF-8" role="form">
                        <fieldset>
                            <div class="form-group">
                                <label class="control-label">Hospital Name: </label> @Html.TextBox("SearchString", null, new { @class = "form-control", @placeholder = "e.g: Nile" })
                                @if (IsPost && ViewBag.hospitalsFilter == null)
                                {
                                    <label class="text-danger">No results</label>
                                }
                            </div>
                            <input class="btn btn-lg btn-danger btn-block" type="submit" value="Filter">
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class=" row">
        @if (ViewBag.hospitalsFilter != null)
        {
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr class=" row">
                        @foreach (DataColumn col in ViewBag.hospitalsFilter.Columns)
                        {
                            <th>@col.ColumnName</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (DataRow row in ViewBag.hospitalsFilter.Rows)
                    {

                        <tr class="row">
                            @foreach (DataColumn col in ViewBag.hospitalsFilter.Columns)
                            {
                                <td>@row[col.ColumnName]</td>
                            }
                            <td>@Html.ActionLink(linkText: "Remove", actionName: "DeleteConfirmed", controllerName: "Hospitals", routeValues: new { id = row["hospital_id"] }, htmlAttributes: new { @class = "text-danger" })</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <div>
        @Html.ActionLink("Back to Admin dashboard", "Index", "Admin")
    </div>
</div>
}